body {
    font-family: sans-serif, Times, serif;
}

@media (min-width: 992px) {
    body .custom-nav {
        display: none;
    }
}
@media (min-width: 768px){
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}
