body {
    font-family: sans-serif, Times, serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

h1.main-title {
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.main .wrapper {
    width: 100%;
}

.card-container {
    margin: 10px 15px;
    position: relative;
    padding: 10px;
    padding-top: 50px;
    background: #999999;
    border: 1px solid black;
    height: 97px;
    overflow: hidden;
    line-height: 1.3;
}

.card-container .title {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 22px;
    padding: 5px 10px;
    font-weight: bold;
    width: 120px;
    border: 1px solid black;
    text-align: center;
}

.card-container .title.first {
    background-color: #d59898;
}

.card-container .title.second {
    background-color: #c14543;
}

.card-container .title.third {
    background-color: #e5d198;
}

@media (min-width:768px) and (max-width:991px) {
    .main .wrapper {
        width: 50%;
        flex-grow: 1;
    }
}
@media (min-width:992px) {
    .main{
        flex-wrap: nowrap;
    }
}